.completed {
  background-color: green;
  border-radius: 1rem;
  transition: .15s ease;
}
.completed > * span {
  color: white;
}

.delete {
  background-color: darkred;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  border: none;
}
.modify{
  background-color: grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: black;
  border: none;
}

.fa-solid{
  width: 2rem;
}
button {
  margin: 0 5px;
}
